* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	height:100%;
    margin:0px;
    padding:0px;
    width:100%;	
	border-width: 0px;
}

body {	
    -webkit-text-size-adjust: none;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	overflow: hidden;
	-ms-content-zooming: none;
	-ms-touch-action:none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#canvas1 
{
	display: block;
	background-color: black
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: -webkit-optimize-contrast;
}